---
http_interactions:
- request:
    method: post
    uri: https://platform.us.42crunch.cloud/api/v1/apis
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarykGbmHJW2hJjfgW5Q\r\nContent-Disposition: form-data;
        name=\"cid\"\r\n\r\nf64e118e-bc0f-47d4-af98-0055d54f8f0f\r\n------RubyFormBoundarykGbmHJW2hJjfgW5Q\r\nContent-Disposition:
        form-data; name=\"name\"\r\n\r\n8movir05vyucx5wldp5fwasrzqy620230306-706061-rr7tyr\r\n------RubyFormBoundarykGbmHJW2hJjfgW5Q\r\nContent-Disposition:
        form-data; name=\"yaml\"\r\n\r\nfalse\r\n------RubyFormBoundarykGbmHJW2hJjfgW5Q\r\nContent-Disposition:
        form-data; name=\"specfile\"; filename=\"8movir05vyucx5wldp5fwasrzqy620230306-706061-rr7tyr\"\r\nContent-Type:
        text/plain\r\n\r\n{\r\n  \"openapi\": \"3.0.2\",\r\n  \"info\": {\r\n    \"version\":
        \"0.1.0\",\r\n    \"title\": \"Payment API\",\r\n    \"description\": \"HM
        Land Registry Digital Street Proof of Concept\",\r\n    \"contact\": {\r\n
        \     \"name\": \"HM Land Registry\"\r\n    },\r\n    \"license\": {\r\n      \"name\":
        \"MIT\",\r\n      \"url\": \"https://opensource.org/licenses/MIT\"\r\n    }\r\n
        \ },\r\n  \"paths\": {\r\n    \"/titles\": {\r\n      \"get\": {\r\n        \"summary\":
        \"Retrieve a list of Titles\",\r\n        \"operationId\": \"get_titles\",\r\n
        \       \"tags\": [\r\n          \"Titles\"\r\n        ],\r\n        \"responses\":
        {\r\n          \"200\": {\r\n            \"description\": \"Expected response
        to a valid request\",\r\n            \"content\": {\r\n              \"application/json\":
        {\r\n                \"schema\": {\r\n                  \"type\": \"array\",\r\n
        \                 \"items\": {\r\n                    \"$ref\": \"#/components/schemas/TitleTransfer\"\r\n
        \                 }\r\n                }\r\n              }\r\n            }\r\n
        \         },\r\n          \"500\": {\r\n            \"$ref\": \"#/components/responses/500\"\r\n
        \         }\r\n        }\r\n      }\r\n    },\r\n    \"/titles/{title_number}\":
        {\r\n      \"get\": {\r\n        \"summary\": \"Retrieve a specific Title\",\r\n
        \       \"operationId\": \"get_title\",\r\n        \"tags\": [\r\n          \"Titles\"\r\n
        \       ],\r\n        \"parameters\": [\r\n          {\r\n            \"$ref\":
        \"#/components/parameters/TitleNumber\"\r\n          }\r\n        ],\r\n        \"responses\":
        {\r\n          \"200\": {\r\n            \"description\": \"Expected response
        to a valid request\",\r\n            \"content\": {\r\n              \"application/json\":
        {\r\n                \"schema\": {\r\n                  \"$ref\": \"#/components/schemas/TitleTransfer\"\r\n
        \               }\r\n              }\r\n            }\r\n          },\r\n
        \         \"500\": {\r\n            \"$ref\": \"#/components/responses/500\"\r\n
        \         }\r\n        }\r\n      }\r\n    },\r\n    \"/titles/{title_number}/confirm-payment\":
        {\r\n      \"put\": {\r\n        \"summary\": \"Tells the network that payment
        has been received\",\r\n        \"operationId\": \"confirm_payment_for_title\",\r\n
        \       \"tags\": [\r\n          \"Payment\"\r\n        ],\r\n        \"parameters\":
        [\r\n          {\r\n            \"$ref\": \"#/components/parameters/TitleNumber\"\r\n
        \         }\r\n        ],\r\n        \"responses\": {\r\n          \"200\":
        {\r\n            \"description\": \"Expected response to a valid request\"\r\n
        \         },\r\n          \"500\": {\r\n            \"$ref\": \"#/components/responses/500\"\r\n
        \         }\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"components\":
        {\r\n    \"schemas\": {\r\n      \"TitleTransfer\": {\r\n        \"required\":
        [\r\n          \"title_number\",\r\n          \"states\",\r\n          \"status\"\r\n
        \       ],\r\n        \"properties\": {\r\n          \"title_number\": {\r\n
        \           \"type\": \"string\",\r\n            \"pattern\": \"^([A-Z]{0,3}[1-9][0-9]{0,5}|[0-9]{1,6}[ZT])$\",\r\n
        \           \"example\": \"ZQV888860\"\r\n          },\r\n          \"title\":
        {\r\n            \"allOf\": [\r\n              {\r\n                \"$ref\":
        \"#/components/schemas/Title\"\r\n              }\r\n            ],\r\n            \"nullable\":
        true\r\n          },\r\n          \"proposed_title\": {\r\n            \"allOf\":
        [\r\n              {\r\n                \"$ref\": \"#/components/schemas/Title\"\r\n
        \             }\r\n            ],\r\n            \"nullable\": true\r\n          },\r\n
        \         \"sales_agreement\": {\r\n            \"allOf\": [\r\n              {\r\n
        \               \"$ref\": \"#/components/schemas/SalesAgreement\"\r\n              }\r\n
        \           ],\r\n            \"nullable\": true\r\n          },\r\n          \"states\":
        {\r\n            \"type\": \"object\",\r\n            \"additionalProperties\":
        {\r\n              \"$ref\": \"#/components/schemas/StateSummary\"\r\n            },\r\n
        \           \"example\": {\r\n              \"land_title\": {\r\n                \"state_status\":
        \"issued\",\r\n                \"timestamp\": \"2018-11-07T10:25:29+00:00\"\r\n
        \             },\r\n              \"sales_agreement\": {\r\n                \"state_status\":
        \"created\",\r\n                \"timestamp\": \"2018-11-08T10:25:29+00:00\"\r\n
        \             },\r\n              \"request_issuance\": {\r\n                \"state_status\":
        \"approved\",\r\n                \"timestamp\": \"2018-11-06T10:25:29+00:00\"\r\n
        \             }\r\n            }\r\n          },\r\n          \"status\":
        {\r\n            \"type\": \"string\",\r\n            \"example\": \"land_title_issued\"\r\n
        \         }\r\n        }\r\n      },\r\n      \"StateSummary\": {\r\n        \"required\":
        [\r\n          \"state_status\",\r\n          \"timestamp\"\r\n        ],\r\n
        \       \"properties\": {\r\n          \"state_status\": {\r\n            \"type\":
        \"string\",\r\n            \"example\": \"approved\"\r\n          },\r\n          \"timestamp\":
        {\r\n            \"type\": \"string\",\r\n            \"format\": \"date-time\",\r\n
        \           \"example\": \"2018-11-07T10:25:29+00:00\"\r\n          }\r\n
        \       }\r\n      },\r\n      \"Title\": {\r\n        \"properties\": {\r\n
        \         \"address\": {\r\n            \"$ref\": \"#/components/schemas/TitleAddress\"\r\n
        \         },\r\n          \"owner\": {\r\n            \"$ref\": \"#/components/schemas/Owner\"\r\n
        \         },\r\n          \"delegated_owner\": {\r\n            \"$ref\":
        \"#/components/schemas/X500\"\r\n          },\r\n          \"last_sold_value\":
        {\r\n            \"type\": \"number\",\r\n            \"format\": \"double\",\r\n
        \           \"example\": 124999.99\r\n          },\r\n          \"last_sold_value_currency_code\":
        {\r\n            \"type\": \"string\",\r\n            \"pattern\": \"^[A-Z]{3}$\",\r\n
        \           \"example\": \"GBP\"\r\n          },\r\n          \"charges\":
        {\r\n            \"type\": \"array\",\r\n            \"items\": {\r\n              \"$ref\":
        \"#/components/schemas/Charge\"\r\n            }\r\n          },\r\n          \"restrictions\":
        {\r\n            \"type\": \"array\",\r\n            \"items\": {\r\n              \"anyOf\":
        [\r\n                {\r\n                  \"$ref\": \"#/components/schemas/Restriction\"\r\n
        \               },\r\n                {\r\n                  \"$ref\": \"#/components/schemas/ChargeRestriction\"\r\n
        \               }\r\n              ]\r\n            }\r\n          }\r\n        }\r\n
        \     },\r\n      \"SalesAgreement\": {\r\n        \"required\": [\r\n          \"buyer\",\r\n
        \         \"buyer_conveyancer\",\r\n          \"creation_date\",\r\n          \"completion_date\",\r\n
        \         \"contract_rate\",\r\n          \"purchase_price\",\r\n          \"purchase_price_currency_code\",\r\n
        \         \"deposit\",\r\n          \"deposit_currency_code\",\r\n          \"balance\",\r\n
        \         \"balance_currency_code\",\r\n          \"guarantee\",\r\n          \"payment_settler\"\r\n
        \       ],\r\n        \"properties\": {\r\n          \"buyer\": {\r\n            \"$ref\":
        \"#/components/schemas/Owner\"\r\n          },\r\n          \"buyer_conveyancer\":
        {\r\n            \"$ref\": \"#/components/schemas/X500\"\r\n          },\r\n
        \         \"creation_date\": {\r\n            \"type\": \"string\",\r\n            \"format\":
        \"date\",\r\n            \"example\": \"2018-11-07\"\r\n          },\r\n          \"completion_date\":
        {\r\n            \"type\": \"string\",\r\n            \"format\": \"date-time\",\r\n
        \           \"example\": \"2018-11-07T10:25:29+00:00\"\r\n          },\r\n
        \         \"contract_rate\": {\r\n            \"type\": \"number\",\r\n            \"format\":
        \"double\",\r\n            \"example\": 4.8\r\n          },\r\n          \"purchase_price\":
        {\r\n            \"type\": \"number\",\r\n            \"format\": \"double\",\r\n
        \           \"example\": 124999.99\r\n          },\r\n          \"purchase_price_currency_code\":
        {\r\n            \"type\": \"string\",\r\n            \"pattern\": \"^[A-Z]{3}$\",\r\n
        \           \"example\": \"GBP\"\r\n          },\r\n          \"deposit\":
        {\r\n            \"type\": \"number\",\r\n            \"format\": \"double\",\r\n
        \           \"example\": 12499.98\r\n          },\r\n          \"deposit_currency_code\":
        {\r\n            \"type\": \"string\",\r\n            \"pattern\": \"^[A-Z]{3}$\",\r\n
        \           \"example\": \"GBP\"\r\n          },\r\n          \"contents_price\":
        {\r\n            \"type\": \"number\",\r\n            \"format\": \"double\",\r\n
        \           \"example\": 124999.99,\r\n            \"nullable\": true\r\n
        \         },\r\n          \"contents_price_currency_code\": {\r\n            \"type\":
        \"string\",\r\n            \"pattern\": \"^[A-Z]{3}$\",\r\n            \"example\":
        \"GBP\",\r\n            \"nullable\": true\r\n          },\r\n          \"balance\":
        {\r\n            \"type\": \"number\",\r\n            \"format\": \"double\",\r\n
        \           \"example\": 112500.01,\r\n            \"readOnly\": true\r\n
        \         },\r\n          \"balance_currency_code\": {\r\n            \"type\":
        \"string\",\r\n            \"pattern\": \"^[A-Z]{3}$\",\r\n            \"example\":
        \"GBP\",\r\n            \"readOnly\": true\r\n          },\r\n          \"guarantee\":
        {\r\n            \"type\": \"string\",\r\n            \"enum\": [\r\n              \"full\",\r\n
        \             \"limited\"\r\n            ],\r\n            \"example\": \"full\"\r\n
        \         },\r\n          \"payment_settler\": {\r\n            \"$ref\":
        \"#/components/schemas/X500\"\r\n          },\r\n          \"latest_update_date\":
        {\r\n            \"type\": \"string\",\r\n            \"format\": \"date-time\",\r\n
        \           \"example\": \"2018-11-07T10:25:29+00:00\"\r\n          }\r\n
        \       }\r\n      },\r\n      \"Charge\": {\r\n        \"required\": [\r\n
        \         \"date\",\r\n          \"lender\",\r\n          \"amount\",\r\n
        \         \"amount_currency_code\"\r\n        ],\r\n        \"properties\":
        {\r\n          \"date\": {\r\n            \"type\": \"string\",\r\n            \"format\":
        \"date-time\",\r\n            \"example\": \"2018-11-07T10:25:29+00:00\"\r\n
        \         },\r\n          \"lender\": {\r\n            \"$ref\": \"#/components/schemas/X500\"\r\n
        \         },\r\n          \"amount\": {\r\n            \"type\": \"number\",\r\n
        \           \"format\": \"double\",\r\n            \"example\": 124999.99\r\n
        \         },\r\n          \"amount_currency_code\": {\r\n            \"type\":
        \"string\",\r\n            \"pattern\": \"^[A-Z]{3}$\",\r\n            \"example\":
        \"GBP\"\r\n          }\r\n        }\r\n      },\r\n      \"RestrictionType\":
        {\r\n        \"required\": [\r\n          \"restriction_type\"\r\n        ],\r\n
        \       \"properties\": {\r\n          \"restriction_type\": {\r\n            \"type\":
        \"string\",\r\n            \"enum\": [\r\n              \"ORES\",\r\n              \"CBCR\"\r\n
        \           ],\r\n            \"example\": \"CBCR\"\r\n          }\r\n        },\r\n
        \       \"discriminator\": {\r\n          \"propertyName\": \"restriction_type\",\r\n
        \         \"mapping\": {\r\n            \"ORES\": \"Restriction\",\r\n            \"CBCR\":
        \"ChargeRestriction\"\r\n          }\r\n        }\r\n      },\r\n      \"RestrictionBase\":
        {\r\n        \"required\": [\r\n          \"restriction_id\",\r\n          \"restriction_text\",\r\n
        \         \"consenting_party\",\r\n          \"date\"\r\n        ],\r\n        \"properties\":
        {\r\n          \"restriction_id\": {\r\n            \"type\": \"string\"\r\n
        \         },\r\n          \"restriction_text\": {\r\n            \"type\":
        \"string\",\r\n            \"example\": \"A string of text containing infills.
        This restriction is of type **RT** and was created at **RD**.\"\r\n          },\r\n
        \         \"consenting_party\": {\r\n            \"$ref\": \"#/components/schemas/X500\"\r\n
        \         },\r\n          \"signed_actions\": {\r\n            \"type\": \"array\",\r\n
        \           \"items\": {\r\n              \"type\": \"string\",\r\n              \"enum\":
        [\r\n                \"add\",\r\n                \"remove\"\r\n              ]\r\n
        \           },\r\n            \"readOnly\": true,\r\n            \"nullable\":
        true\r\n          },\r\n          \"date\": {\r\n            \"type\": \"string\",\r\n
        \           \"format\": \"date-time\",\r\n            \"example\": \"2018-11-07T10:25:29+00:00\"\r\n
        \         }\r\n        }\r\n      },\r\n      \"Restriction\": {\r\n        \"allOf\":
        [\r\n          {\r\n            \"$ref\": \"#/components/schemas/RestrictionType\"\r\n
        \         },\r\n          {\r\n            \"$ref\": \"#/components/schemas/RestrictionBase\"\r\n
        \         }\r\n        ]\r\n      },\r\n      \"ChargeRestriction\": {\r\n
        \       \"allOf\": [\r\n          {\r\n            \"$ref\": \"#/components/schemas/RestrictionType\"\r\n
        \         },\r\n          {\r\n            \"$ref\": \"#/components/schemas/RestrictionBase\"\r\n
        \         }\r\n        ],\r\n        \"required\": [\r\n          \"charge\"\r\n
        \       ],\r\n        \"properties\": {\r\n          \"charge\": {\r\n            \"$ref\":
        \"#/components/schemas/Charge\"\r\n          }\r\n        }\r\n      },\r\n
        \     \"Person\": {\r\n        \"required\": [\r\n          \"identity\",\r\n
        \         \"first_name\",\r\n          \"last_name\",\r\n          \"email_address\",\r\n
        \         \"phone_number\",\r\n          \"type\",\r\n          \"address\"\r\n
        \       ],\r\n        \"properties\": {\r\n          \"identity\": {\r\n            \"type\":
        \"integer\",\r\n            \"format\": \"int32\",\r\n            \"description\":
        \"Number to uniquely identify people across organisations\"\r\n          },\r\n
        \         \"first_name\": {\r\n            \"type\": \"string\",\r\n            \"example\":
        \"Natasha\"\r\n          },\r\n          \"last_name\": {\r\n            \"type\":
        \"string\",\r\n            \"example\": \"Powell\"\r\n          },\r\n          \"email_address\":
        {\r\n            \"type\": \"string\",\r\n            \"format\": \"email\",\r\n
        \           \"example\": \"natasha.powell@example.com\"\r\n          },\r\n
        \         \"phone_number\": {\r\n            \"type\": \"string\",\r\n            \"example\":
        \"07700900123\"\r\n          },\r\n          \"type\": {\r\n            \"type\":
        \"string\",\r\n            \"enum\": [\r\n              \"individual\",\r\n
        \             \"company\",\r\n              \"overseas company\",\r\n              \"non
        government organisation\"\r\n            ]\r\n          },\r\n          \"address\":
        {\r\n            \"$ref\": \"#/components/schemas/PersonAddress\"\r\n          }\r\n
        \       }\r\n      },\r\n      \"Owner\": {\r\n        \"allOf\": [\r\n          {\r\n
        \           \"$ref\": \"#/components/schemas/Person\"\r\n          }\r\n        ]\r\n
        \     },\r\n      \"TitleAddress\": {\r\n        \"required\": [\r\n          \"house_name_number\",\r\n
        \         \"street\",\r\n          \"town_city\",\r\n          \"county\",\r\n
        \         \"country\",\r\n          \"postcode\"\r\n        ],\r\n        \"properties\":
        {\r\n          \"house_name_number\": {\r\n            \"type\": \"string\",\r\n
        \           \"example\": 2\r\n          },\r\n          \"street\": {\r\n
        \           \"type\": \"string\",\r\n            \"example\": \"William Prance
        Road\"\r\n          },\r\n          \"town_city\": {\r\n            \"type\":
        \"string\",\r\n            \"example\": \"Plymouth\"\r\n          },\r\n          \"county\":
        {\r\n            \"type\": \"string\",\r\n            \"example\": \"Devon\"\r\n
        \         },\r\n          \"country\": {\r\n            \"type\": \"string\",\r\n
        \           \"enum\": [\r\n              \"England\",\r\n              \"Wales\"\r\n
        \           ]\r\n          },\r\n          \"postcode\": {\r\n            \"type\":
        \"string\",\r\n            \"pattern\": \"^(GIR ?0AA|[A-PR-UWYZ]([0-9]{1,2}|([A-HK-Y][0-9]([0-9ABEHMNPRV-Y])?)|[0-9][A-HJKPS-UW])
        ?[0-9][ABD-HJLNP-UW-Z]{2})$\",\r\n            \"example\": \"PL6 5WS\"\r\n
        \         }\r\n        }\r\n      },\r\n      \"PersonAddress\": {\r\n        \"required\":
        [\r\n          \"house_name_number\",\r\n          \"street\",\r\n          \"town_city\",\r\n
        \         \"county\",\r\n          \"country\",\r\n          \"postcode\"\r\n
        \       ],\r\n        \"properties\": {\r\n          \"house_name_number\":
        {\r\n            \"type\": \"string\",\r\n            \"example\": 143\r\n
        \         },\r\n          \"street\": {\r\n            \"type\": \"string\",\r\n
        \           \"example\": \"Cowgate\"\r\n          },\r\n          \"town_city\":
        {\r\n            \"type\": \"string\",\r\n            \"example\": \"Edinburgh\"\r\n
        \         },\r\n          \"county\": {\r\n            \"type\": \"string\",\r\n
        \           \"example\": \"Midlothian\"\r\n          },\r\n          \"country\":
        {\r\n            \"type\": \"string\",\r\n            \"example\": \"Scotland\"\r\n
        \         },\r\n          \"postcode\": {\r\n            \"type\": \"string\",\r\n
        \           \"example\": \"EH1 1JS\"\r\n          }\r\n        }\r\n      },\r\n
        \     \"X500\": {\r\n        \"type\": \"object\",\r\n        \"required\":
        [\r\n          \"organisation\",\r\n          \"locality\",\r\n          \"country\"\r\n
        \       ],\r\n        \"additionalProperties\": false,\r\n        \"properties\":
        {\r\n          \"organisation\": {\r\n            \"type\": \"string\",\r\n
        \           \"pattern\": \"^([A-Z]{1}[^\\\\r\\\\n\\\\t\\\\f\\\\v\\\\,\\\\=\\\\$\\\\\\\"\\\\'\\\\\\\\]{0,126}\\\\S)$\",\r\n
        \           \"example\": \"Generic Conveyancing Company\"\r\n          },\r\n
        \         \"locality\": {\r\n            \"type\": \"string\",\r\n            \"pattern\":
        \"^([A-Z]{1}[^\\\\r\\\\n\\\\t\\\\f\\\\v\\\\,\\\\=\\\\$\\\\\\\"\\\\'\\\\\\\\]{0,62}\\\\S)$\",\r\n
        \           \"example\": \"Plymouth\"\r\n          },\r\n          \"country\":
        {\r\n            \"type\": \"string\",\r\n            \"pattern\": \"^([A-Z]{2})$\",\r\n
        \           \"example\": \"GB\"\r\n          },\r\n          \"state\": {\r\n
        \           \"type\": \"string\",\r\n            \"pattern\": \"^([A-Z]{1}[^\\\\r\\\\n\\\\t\\\\f\\\\v\\\\,\\\\=\\\\$\\\\\\\"\\\\'\\\\\\\\]{0,126}\\\\S)$\",\r\n
        \           \"example\": \"Devon\"\r\n          },\r\n          \"organisational_unit\":
        {\r\n            \"type\": \"string\",\r\n            \"pattern\": \"^([A-Z]{1}[^\\\\r\\\\n\\\\t\\\\f\\\\v\\\\,\\\\=\\\\$\\\\\\\"\\\\'\\\\\\\\]{0,126}\\\\S)$\",\r\n
        \           \"example\": \"Digital\"\r\n          },\r\n          \"common_name\":
        {\r\n            \"type\": \"string\",\r\n            \"pattern\": \"^([A-Z]{1}[^\\\\r\\\\n\\\\t\\\\f\\\\v\\\\,\\\\=\\\\$\\\\\\\"\\\\'\\\\\\\\]{0,126}\\\\S)$\",\r\n
        \           \"example\": \"Generic Conveyancing Company\"\r\n          }\r\n
        \       }\r\n      },\r\n      \"Error\": {\r\n        \"required\": [\r\n
        \         \"code\",\r\n          \"message\"\r\n        ],\r\n        \"properties\":
        {\r\n          \"code\": {\r\n            \"type\": \"integer\",\r\n            \"format\":
        \"int32\"\r\n          },\r\n          \"message\": {\r\n            \"type\":
        \"string\"\r\n          }\r\n        }\r\n      }\r\n    },\r\n    \"parameters\":
        {\r\n      \"TitleNumber\": {\r\n        \"name\": \"title_number\",\r\n        \"in\":
        \"path\",\r\n        \"required\": true,\r\n        \"description\": \"The
        unique ID of a Title\",\r\n        \"schema\": {\r\n          \"type\": \"string\",\r\n
        \         \"pattern\": \"^([A-Z]{0,3}[1-9][0-9]{0,5}|[0-9]{1,6}[ZT])$\"\r\n
        \       }\r\n      }\r\n    },\r\n    \"responses\": {\r\n      \"500\": {\r\n
        \       \"description\": \"Internal Server Error\",\r\n        \"content\":
        {\r\n          \"application/json\": {\r\n            \"schema\": {\r\n              \"$ref\":
        \"#/components/schemas/Error\"\r\n            }\r\n          }\r\n        }\r\n
        \     }\r\n    },\r\n    \"links\": {\r\n      \"GetTitle\": {\r\n        \"operationId\":
        \"get_title\",\r\n        \"parameters\": {\r\n          \"title_number\":
        \"$response.body#/title_number\"\r\n        }\r\n      }\r\n    }\r\n  }\r\n}\r\n------RubyFormBoundarykGbmHJW2hJjfgW5Q--\r\n"
    headers:
      X-Api-Key:
      - api_b8dcb3b1-d1d8-4337-8b3e-f24fe8ea2d06
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarykGbmHJW2hJjfgW5Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-42c-Transactionid:
      - 309a0053-db22-4d04-9819-acb8b867f6df-3c3521d5-2d34-402f-95d4-b46521f58153
    body:
      encoding: UTF-8
      string: '{"desc":{"id":"c11d6211-03d3-4926-b9d0-6906ed1a83fc","cid":"","name":"","technicalName":"","specfile":null,"yaml":false,"revisionOasCounter":0,"lock":false,"lockReason":""},"revision":null,"branch":null,"assessment":null,"scan":null,"protection":null,"tags":null}'
  recorded_at: Mon, 06 Mar 2023 11:38:09 GMT
- request:
    method: get
    uri: https://platform.us.42crunch.cloud/api/v1/apis/c11d6211-03d3-4926-b9d0-6906ed1a83fc/assessmentreport
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - api_b8dcb3b1-d1d8-4337-8b3e-f24fe8ea2d06
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-42c-Transactionid:
      - ebf7bf87-b383-4d2f-b497-2625e43e07f0-37bf59e6-7e46-4a65-a69d-24cb6943152a
    body:
      encoding: UTF-8
      string: '{"code":5,"message":"no result","details":[]}'
  recorded_at: Mon, 06 Mar 2023 11:38:09 GMT
- request:
    method: get
    uri: https://platform.us.42crunch.cloud/api/v1/apis/c11d6211-03d3-4926-b9d0-6906ed1a83fc/assessmentreport
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - api_b8dcb3b1-d1d8-4337-8b3e-f24fe8ea2d06
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-42c-Platform-Version:
      - 1.26.4
      X-42c-Transactionid:
      - 0ce5b27e-4163-4a0f-9472-b5c8daf0002a-00c46be2-1e78-4b53-a55a-4f111d7c92e0
    body:
      encoding: UTF-8
      string: '{"tid":"f46923b6-2c44-4ba6-b0fa-e6324735ad3e","aid":"c11d6211-03d3-4926-b9d0-6906ed1a83fc","cid":"","date":"2023-03-06T11:34:45Z","data":"eyJpbmRleCI6WyIiLCIvY29tcG9uZW50cyIsIi9jb21wb25lbnRzL2xpbmtzL0dldFRpdGxlIiwiL2NvbXBvbmVudHMvcGFyYW1ldGVycy9UaXRsZU51bWJlciIsIi9jb21wb25lbnRzL3NjaGVtYXMvRXJyb3IiLCIvY29tcG9uZW50cy9zY2hlbWFzL1BlcnNvbkFkZHJlc3MvcHJvcGVydGllcy9ob3VzZV9uYW1lX251bWJlci9leGFtcGxlIiwiL2NvbXBvbmVudHMvc2NoZW1hcy9UaXRsZUFkZHJlc3MvcHJvcGVydGllcy9ob3VzZV9uYW1lX251bWJlci9leGFtcGxlIiwiL2NvbXBvbmVudHMvc2NoZW1hcy9UaXRsZVRyYW5zZmVyIiwiL3BhdGhzL34xdGl0bGVzL2dldCIsIi9wYXRocy9+MXRpdGxlcy9nZXQvcmVzcG9uc2VzIiwiL3BhdGhzL34xdGl0bGVzL2d[...]
- request:
    method: delete
    uri: https://platform.us.42crunch.cloud/api/v1/apis/c11d6211-03d3-4926-b9d0-6906ed1a83fc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - api_b8dcb3b1-d1d8-4337-8b3e-f24fe8ea2d06
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-42c-Platform-Version:
      - 1.26.4
      X-42c-Transactionid:
      - f1100f3e-9586-4a24-b60c-5171e401d5a5-4621af6a-c6a5-4f45-8e14-d59f056313bd
    body:
      encoding: UTF-8
      string: '{"id":"c11d6211-03d3-4926-b9d0-6906ed1a83fc","cid":"","name":"","technicalName":"","specfile":"","yaml":false,"revisionOasCounter":0,"lock":false,"lockReason":""}'
  recorded_at: Mon, 06 Mar 2023 11:38:11 GMT
recorded_with: VCR 6.1.0
