<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your OpenAPI documents correspond with UK government API linting rules.</h1>
  </div>

  <% if @spectral_results.present? %>
    <div class="govuk-grid-column-two-thirds">
     <div><%= JSON.pretty_generate(@spectral_results) %></div>
   </div>
  <% else %>
   <%= render "form" %>
  <% end %>

</div>
