<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">GOV.UK OpenAPI Linting Service</h1>
    <p>Info about what this service is providing</p>

    <p>
      <%= govuk_start_button(text: "Start now", href: uploads_path) %>
    </p>
    <p class="govuk-body">Link to
      <a href="<%= ENV["WIKI_URL"] %>" class="govuk-link">Remediation Wiki</a>.</p>
  </div>
</div>
