<div class="govuk-grid-column-two-thirds">

  <div class="govuk-form-group">
    <label class="govuk-label" for="file-upload-1">
      Upload an OpenAPI document
    </label>
    <form class="form" action = "/upload-file-security" method = "POST" enctype = "multipart/form-data">
      <%= file_field_tag "oas_file", class: "govuk-file-upload", label: { text: "Upload an OpenAPI document" }, id: "oas_file", name: "oas_file" %>
      <br>
      <br>
      <%= submit_tag "Submit", class: "govuk-button", data: {module: "govuk-button"} %>
    </form>
  </div>
</div>
