<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your OpenAPI documents correspond with UK government API linting rules.</h1>
  </div>
  <%= render "form" %>
</div>