<%= content_for :page_title, "Sorry, there’s a problem with the service" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, your document couldn't be processed</h1>

    <p class="govuk-body">
      Something has gone wrong on our side. We have informed the team.
    </p>
    <p class="govuk-body">
      If you have any questions or feedback please email us at: <br/>
       <a class="govuk-link" href="mailto:<%= t('service.email') %>"><%= t('service.email') %></a>.
    </p>
  </div>
</div>
