$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/govuk/all";

//Colours for criticality styling
.criticality-1 {
  background-color: gray;
}

.criticality-2 {
  background-color: palegoldenrod;
}

.criticality-3 {
  background-color: orange;
}

.criticality-4 {
  background-color: orangered;
}

.criticality-5 {
  background-color: darkred;
}

[class*="criticality-"] {
  text-align: center;
  padding: 0px !important;
  vertical-align: middle !important;
  font-size: 1.5em !important;
}

.linting-results-table td {
  padding: 10px !important;
}

// Ensures that the background colours are shown when printing or saving
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
}

//This is used in lots of GDS example but there doesn't seem to be
//a proper component for it
.sidebar {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
  margin-bottom: 30px;
  padding-top: 10px;
}

//Sidebar links are a bit smaller than usual
.sidebar a {
 font-size: smaller;
}
